<section>

    <div class="container">
        
        <div class="imagem-register">
        <img src="assets/images/registerscreen.png" alt="">
    </div>
    
    <div class="register">
        <div class="texto-register">
            <h1>Cadastre-se</h1>
        </div>
        <div class="inputs">
            <div class="input">
                <label for="nome">Nome</label>
                <input type="nome">
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input type="email">
            </div>
            <div class="input">
                <label for="password">Senha</label>
                <input type="password">
            </div>
            <div class="input">
                <label for="password">Confirmar Senha</label>
                <input type="password">
            </div>
            <button routerLink="/">Cadastrar</button>
        </div>
        
        <div class="cadastrar">
            <p>Possui conta? <a routerLink="/">Entrar</a></p>
        </div>
    </div>
    
    
    
    </div>
</section>