.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;

    .register {
        width: 565px;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        .texto-register {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .input {
            display: flex;
            flex-direction: column;
            margin-bottom: 26px;

            input {
                padding: 12px 16px 12px 16px;
                border-radius: 8px;
                border: solid #CDD4DA 1px;
            }

            label {
                margin-bottom: 5px;
            }
        }

        .cadastrar {
            font-weight: 400;
            font-size: 16px;
            a {
                text-decoration: none;
                color: var(--primeira-cor);
            }
        }
    }
    button {
        background-color: var(--primeira-cor);
        color: white;
        border: none;
        border-radius: 5px;
        width: 400px;
        height: 48px;
        margin-bottom: 20px;
    }

    button:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    section {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .imagem-register {
        display: none;
      }

      .wrapper {
        width: 100%;
        padding: 20px;
        min-height: auto;
      }

      .container {
        width: 100%;
        max-width: 400px;

        input,
        button {
          width: 90vw;
        }
      }
    }
  }
