<nav class="navbar navbar-expand-lg" style="background-color: var(--primeira-cor);">
  <div class="container-fluid">

    <a class="navbar-brand icone-logo" href="home">
      <img src="assets/images/logo_comentado.png" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarIcons"
      aria-controls="navbarIcons" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarIcons">
      <div class="d-flex flex-row ms-auto">
        <a class="icone mb-2" routerLink="/"><img src="assets/images/home.png" alt=""></a>
        <a class="icone mb-2" href="home"><img src="assets/images/notificacoes.png" alt=""></a>
        <a class="icone mb-2" href="home"><img src="assets/images/materias.png" alt=""></a>
        <a class="icone mb-2" href="home"><img src="assets/images/valores.png" alt=""></a>
        <a class="icone" routerLink="/"><img src="assets/images/logout.png" alt=""></a>
      </div>
    </div>
  </div>
</nav>